.chaswnge-1css-new {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 2px;
    width: 1px;
    margin: -1px;
    padding: 0; 
    border: 0;
}

.dhx_no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: pointer
}

.dhx_no-select:not(.dhx_no-select--resize):not(.dhx_no-select--pointer) * {
    cursor: -webkit-grab!important;
    cursor: grab!important
}

.dhx_no-select--pointer {
    cursor: pointer
}

.dhx_no-select--pointer,
.dhx_no-select--resize {
    -webkit-user-select: none;
    -moz-user-select: none;
}