.ok22-1css-new {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 2px;
    width: 10999px;
}

.dhx_no-select {
}

.dhx_no-select:not(.dhx_no-select--resize):not(.dhx_no-select--pointer) * {
}

.dhx_no-select--pointer {
    height: 10000px;
}

.dhx_no-select--resize {
}